* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

:root{
    --lightpurple: #856dff;
    --darkpurple: #7860F3;
    --textandborders: #94908f;
    --mainwhite: #fff;
    --background: #f1edec;
}
body{
    background-color: #f1edec;
    overflow-x: hidden;
    margin-bottom: 125px;
}
.glowna{
    display: flex;
    width: 100vw;
    height: 5rem;
    position: relative;
    font-size: 2.4rem;
    align-self: center;
    text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px ;
    text-decoration: none;
    color: black;
    
}
.title{
    font-size: 20rem;
    margin-top: 10%;
    text-shadow: rgba(0, 0, 0, 0.7) 5px 10px 0px;
}

.title:hover{
    text-shadow: var(--mainwhite) 0px  0px  30px;
}


.main_ultraliga{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_ultraliga h1{
    margin-top: 3vw;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--darkpurple);
    text-decoration: none;
}

.main_ultraliga p{
    width: 100%;
    text-align: center;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 2rem;
    color: var(--textandborders);
    align-self: center;
}

.ultraliga{
    margin-top: 5%;
    background-color: var(--darkpurple);
    width: 100vw;
    height: 35rem;
    box-shadow: var(--lightpurple) 0px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.ultraliga h1{
    color: var(--lightpurple);
    font-size: 28rem;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px, rgba(0, 0, 0, 0.3) 0px 3px 7px;
}

.leagues_tabela{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.leagues_tabela p{
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--darkpurple);
    font-size: 6rem;
    margin-top: 2%;
    margin-left: -14%;
    padding-bottom: 4%;
}


.leagues_tabela{
    margin-top: 4%;
    margin-left: 15%;
    font-size: 2rem;
}

.leagues_tabela table td{
    border-bottom: 0.2rem solid var(--textandborders);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 6rem;
    padding-left: 6rem;
    text-align: center;
}
.tabcolor{
    color: var(--darkpurple);
    text-shadow: #948e8d81 3px 2px 0px;
}

.tabcolor2{
    text-shadow:   #948e8d81 3px 2px 0px;
}
.leagues_tabela table{
    border-collapse: collapse;
}
